.axios {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.input {
  display: flex;
  flex-direction: column;
}


.activity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 10px;
  margin: 20px;
}


.output {
  margin: 50px;
  height: 500px;
  width: 500px;
  border: 1px solid #212121;
  border-radius: 5px;
  overflow-y: auto;
}

.output h1 {
  color: rgb(26, 11, 165);
}

.output__info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 20px 50px;
  border-bottom: 1px solid #000000;
}

.output__info div {
  padding: 5px 0px;
}

.output__info p {
  margin: 0px;
}

.user__info {
  text-align: left;
  overflow-x: auto;
  width: 300px;
}

.user__info div {
  display: flex;
  align-items: center;
  gap: 20px;

}

.user__name {
  color: #ff0000;
  font-size: 15px;
}

.user__username {
  color: #309209
}

.user__email {
  font-size: 12px;
  color: #a7b126,
}


button {
  cursor: pointer;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.Go_To_Home {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: rgb(75, 163, 221);
  cursor: pointer;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 100px;
}